@page "/"

<PageTitle>Notebook</PageTitle>

<h1 class="display-4 text-center p-5">Notebook</h1>

<form class="bg-light border border-1 p-5 mb-5">
  <div class="form-group mb-3">
    <label for="newTitle" class="form-label">Title</label>
    <input type="text" id="newTitle" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label for="newContent" class="form-label">Content</label>
    <textarea id="newContent" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary">Add Note</button>
</form>


<div class="row">
  <!-- NOTE TEMPLATE -->
  <div class="col-4">
    <div class="card my-3">
      <div class="card-header d-flex justify-content-end">
        <button class="btn btn-light">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-light">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="card-body">
        <h2>Title</h2>
        <p>Content</p>
      </div>
    </div>
  </div>
  <!-- NOTE TEMPLATE -->
</div>

<dialog>
  <form class="bg-light border border-1 p-5 mb-5 m-auto w-75">
    <div class="form-group mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" class="form-control" />
    </div>
    <div class="form-group mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea id="content" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary me-3">Add Note</button>
    <button type="button" class="btn btn-secondary">Cancel</button>
  </form>
</dialog>


@code {
  
}